{% include'voters_header.html' %}
<section class="home-banner-area relative" id="home" data-parallax="scroll" data-image-src="/static/img/vote.jpg">
		<div class="overlay-bg overlay"></div>
		<h1 class="template-name">E VOTING</h1>
		<div class="container">
			<div class="row fullscreen">
				<div class="banner-content col-lg-12">
					<body>
	<center>
			<h2 style="color: black">ELECTION STATUS</h2>
			<br>
    	<form>
    		<table  class="table" style="width: 500px; color: white">
    			<tr>
    				<th>Sl.no</th>
    				<th>Name</th>
    				<th>Election date</th>
    				<th>Declared On</th>
    				<th>Status</th>
                    
                </tr>
                {% for row in data['status']%}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{row['body']}}</td>
					<td>{{row['election_date']}}</td>
					<td>{{row['declared_on']}}</td>
					<td>{{row['status']}}</td>
					{% if row['status']=='started' %}
					<td><a href="?action=makevote&ids={{row['election_id']}}" class="btn btn-danger">MAKE VOTE</a></td>

					{% elif row['status']=='completed'%}
					<th><a href="voters_view_result?action=result&eid={{row['election_id']}}" class="btn btn-danger">VIEW RESULT</a></th>
					{% endif %}

				</tr>
				{% endfor %}
    			
    		</table>
		</form>
	</center>
					</h1>
				</div>
			</div>
		</div>
		<!-- <div class="head-bottom-meta">
			<div class="d-flex meta-left no-padding">
				<a href="#"><span class="fa fa-facebook-f"></span></a>
				<a href="#"><span class="fa fa-twitter"></span></a>
				<a href="#"><span class="fa fa-instagram"></span></a>
			</div>
		</div> -->
	</section>









{% include'public_footer.html' %}